@model Shelter.Models.Advert

<h2>@Model.Title</h2>

<div class="thumbnail">
    <img alt="@Model.Title" src="@Model.ImageUrl" />
    <div class="caption-full">
        <h3 class="pull-right"> Av</h3>
        <h3>
            <a href="#">@Model.Title</a>
        </h3>
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription </p>
    </div>
</div>