@model Shelter.Models.Advert

<h2 class="text-center">@Model.Title</h2>

<div class="thumbnail">
    <img alt="@Model.Title" src="@Model.ImageUrl" />
    <div class="caption container break-text">
        <div class="advert-short-description">
            <p><b><u>Short description:</u></b></p>
            <p>@Model.ShortDescription</p>
        </div>
        <div class="advert-long-description">
            <p><b><u>Long description:</u></b></p>
            <p>@Model.LongDescription </p>
        </div>

        <form asp-action="Reserve">
            @if (@Model.ReservingId == null)
            {
                <button asp-controller="Advert" asp-action="Reserve" asp-route-id="@Model.AdvertId" type="submit" value="Reserve" class="btn btn-success">Reserve</button>
            }
            else
            {
                <button asp-controller="Advert" asp-action="Reserve" asp-route-id="@Model.AdvertId" type="submit" value="Reserve" class="btn btn-danger" disabled>Reserved</button>
            }
        </form>
    </div>
</div>